.fact__list {
  .list-clear();
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.fact__item {
  position: relative;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    width: 87%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: @basic-lightgray2;
  }

  @media (min-width: @tablet-width) {
    &::after {
      display: none;
    }

    flex-direction: row;
    flex-wrap: wrap;
    width: 33.333%;
  }

  &--main-fact {
    &::after {
      display: none;
    }

    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }

  &:first-of-type {
    position: relative;
    padding-top: 37px;

    @media (min-width: @tablet-width) {
      padding-top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 37px;
      background-color: @basic-lightblue;
      background-image: url("../img/fact-triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 37px;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.fact__header {
  padding: 0 10px;
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 31.5% auto 1fr;
  background-color: @basic-lightgrey;
  min-height: 168px;
  width: 100%;

  &--main-fact {
    background-color: @basic-lightblue;
    color: @basic-white;
    min-height: 190px;

    @media (min-width: @tablet-width) {
      width: 33.333%;
    }
  }

  &--main-fact-fisrt {
    @media (min-width: @tablet-width) {
      margin-bottom: 23px;
    }
  }

  @media (max-width: @mobile-width-only) {
    &--main-fact-second {
      padding-top: 7px;
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 256px;
    grid-template-rows: 37.3% auto 1fr;

    &--main-fact-fisrt {
      grid-template-rows: 36.5% auto 1fr;
    }

    &--main-fact-second {
      order: 2;
      grid-template-rows: 37% auto 1fr;
    }
  }

  @media (min-width: @desktop-width) {
    &--main-fact-fisrt {
      grid-template-rows: 38.5% auto 1fr;
    }

    &--main-fact-second {
      grid-template-rows: 40.4% auto 1fr;
    }
  }
}

.fact__title-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fact__title {
  .margin();
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    display: inline-block;
    width: 151px;
  }
}

.fact__number {
  .margin(@top: 11px, @bottom: 17px);

  &::before {
    content: "— ";
  }

  &::after {
    content: " —";
  }

  @media (min-width: @tablet-width) {
    margin-top: 13px;
    margin-bottom: 23px;
  }
}

.fact__item--main-fact .fact__description {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px;
  }
}

.fact__description {
  .margin();
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 45px;
  }
}

.fact__image {
  height: 256px;
  width: 100%;
  object-fit: cover;

  @media (max-width: @mobile-width-only) {
    height: 260px;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 512px) and (max-width: @mobile-width-only) {
    z-index: 2;
    box-shadow: 4px 4px 4px rgba(@basic-black, 0.6);
  }

  @media (min-width: @tablet-width) {
    width: 66.666%;
  }
}

.fact__image-picture {
  height: 256px;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    height: 260px;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 512px) and (max-width: @mobile-width-only) {
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    width: 66.666%;
  }
}

.fact__image-picture > .fact__image {
  width: 100%;
}

.fact__additionally {
  padding-top: 35px;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }
}
