.fact__list {
  .list-clear();
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.fact__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 33.333%;
  }

  &--main-fact {
    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }
}

.fact__header-box {
  margin: auto auto;
  padding: 0 35px;
}

.fact__header {
  display: flex;
  background-color: @basic-lightgrey;
  min-height: 168px;
  width: 100%;

  &--main-fact {
    background-color: @basic-lightblue;
    color: @basic-white;
    min-height: 190px;

    @media (min-width: @tablet-width) {
      width: 33.333%;
    }
  }

  &--triangle {
    position: relative;
    padding-top: 37px;
    min-height: 174px;

    @media (min-width: @tablet-width) {
      padding-top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 37px;
      background-image: url("../img/fact-triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 37px;

      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 256px;
    padding: 0;
  }
}

.fact__title {
  .margin(@bottom: 11px);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: min-content;
  }
}

.fact__number {
  .margin(@bottom: 17px);

  &::before {
    content: "— ";
  }

  &::after {
    content: " —";
  }
}

.fact__description {
  .margin();
}

.fact__image-box {
  position: relative;
  height: 260px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 66.666%;
  }
}

.fact__image {
  .absolute-center();
  left: 22%;
  height: 260px;

  @media screen and (min-width: 460px) {
    left: 50%;
  }
}

.fact__additionally {
  padding-top: 35px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 158px;
    padding-bottom: 26px;
  }
}
