.fact__list {
  .list-clear();
  line-height: 21px;
  text-transform: uppercase;
}

.fact__header {
  padding: 0 35px;
  background-color: @basic-lightgrey;

  &--main-fact {
    padding: 0 10px;
    background-color: @basic-lightblue;
    color: @basic-white;
  }
}

.fact__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.fact__number {
  &::before {
    content: "— ";
  }

  &::after {
    content: " —";
  }
}

.fact__image-box {
  position: relative;
  height: 260px;
  overflow: hidden;
}

.fact__image {
  .absolute-center();
  left: 22%;

  @media screen and (min-width: 460px) {
    left: 50%;
  }
}
