.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__item {
  position: relative;
  border: none;
  .container;
  margin-bottom: 17px;
  line-height: 26px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background-color: @basic-lightgray2;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;

    &--separator {
      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: @basic-lightgray4;
        top: 0;
        left: 0;
      }
    }
  }
}

.form__item--separator .form__legend {
  @media (min-width: @tablet-width) {
    float: left;
  }
}

.form__item.selection--visited {
  padding-top: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;
    padding-top: 11px;
  }
}

.form__item.selection--grade {
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
    margin-bottom: 0;
  }
}

.form__item.text-input--contact {
  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 6px;
    padding-top: 18px;
  }
}

.form__item.text-input--full-name {
  @media (min-width: @tablet-width) {
    margin-bottom: 44px;
    position: relative;
  }
}

.form__item.text-input--textarea {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 12px;
  }
}

.form__legend {
  text-align: center;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 19px;
  padding: 0 10px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 56px;
  }

  &--full-name {
    @media (min-width: @tablet-width) {
      align-self: flex-start;
      text-align: left;
      .padding();
    }
  }

  &--grade {
    @media (min-width: @tablet-width) {
      align-self: flex-start;
    }
  }

  &--contact {
    @media (min-width: @tablet-width) {
      .legend-edge-line(@margin-bottom: 7px);
    }
  }

  &--visited {
    @media (min-width: @tablet-width) {
      .legend-edge-line(@margin-edge: 64px);
    }
  }

  &--textarea {
    @media (min-width: @tablet-width) {
      .legend-edge-line(@margin-bottom: 7px, @margin-edge: 76px);
    }
  }
}

.form__item--footer {
  flex-direction: row;
  justify-content: space-between;

  &::before {
    display: none;
  }
}

.form__button {
  margin: 0 auto;
  padding-top: 5px;
  transform: translateX(-1px);

  @media (min-width: @tablet-width) {
    margin: 0;
    min-width: 324px;
    transform: translateX(0);
    padding-right: 15px;
  }

  @media (min-width: @desktop-width) {
    min-width: 480px;
    padding-right: 5px;
  }
}

.form__description {
  display: none;
  height: min-content;
  text-transform: uppercase;
  text-align: right;
  line-height: 26px;
  width: max-content;
  .margin(@top: auto, @bottom: 12px);

  @media (min-width: @tablet-width) {
    display: block;
  }
}
