.greetings {
  position: relative;
  padding-bottom: 57px;
  box-sizing: border-box;
  width: 100%;
  min-height: 389px;
  background-color: @background-dark-blue;
  background-image: url("../img/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    min-height: 518px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 57px;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 0;
  }

  &--secondary-page {
    background-image: url("../img/background-secondary-mobile.jpg");
    min-height: 158px;
    background-size: auto;
    background-position: 50% -56px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/background-secondary.jpg");
      min-height: 290px;
      background-position: 50% 100%;
    }

    @media (min-width: @desktop-width) {
      min-height: 301px;
    }
  }
}

.greetings__image {
  width: 282px;
  min-height: 214px;
  margin-top: 90px;

  @media (min-width: @tablet-width) {
    margin-top: 77px;
    width: 460px;
    min-height: 350px;
  }

  &--secondary-page {
    margin-top: 52px;
    width: 229px;
    min-height: 39px;

    @media (min-width: @tablet-width) {
      margin-top: 95px;
      width: 460px;
      min-height: 78px;
      padding-left: 2px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 101px;
      min-height: 80px;
      padding-right: 4px;
      content: url("../img/sedona-desktop.svg");
    }
  }
}
