.greetings {
  position: relative;
  width: 100%;
  height: 389px;
  background-color: @background-brown;
  background-image: url("../img/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.greetings__image {
  width: 282px;
  height: 214px;
  margin: 0 auto;
  .absolute-center();
}
