.headline {
  line-height: 26px;
  text-transform: uppercase;
  padding: 0 25px;
  max-width: 540px;
}

.headline__title {
  font-size: 18px;
  font-weight: 700;
}

.headline__description {
  font-size: 14px;
  font-weight: 400;
}
