.headline {
  line-height: 26px;
  text-transform: uppercase;
  max-width: 520px;
  margin: 0 auto;
}

.headline__title {
  .margin(@bottom: 27px);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

.headline__description {
  .margin();
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
}
