.intro__headline {
  padding: 0 25px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;

    .headline__title {
      font-size: 21px;
    }
  }
}

.intro__fact {
  .padding(@bottom: 33px);
}
