.main-nav {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.main-nav__site-list {
  .list-clear();
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: @basic-lightblue;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__item {
  width: 100%;
  height: 55px;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 @shadow-black-menu-button, inset 0 1px 0 @shadow-white-menu-button;

  &:last-of-type {
    box-shadow: inset 0 1px 0 @shadow-white-menu-button;
  }

  &--logo {
    margin-bottom: 0;
    box-shadow: none;
    background-color: @basic-white;
    order: 2;

    @media (min-width: @tablet-width) {
      order: 0;
    }
  }

  @media (min-width: @tablet-width) {
    width: 20%;
    margin: 0;
    box-shadow: none;
    background-color: transparent;
  }
}

.main-nav__link {
  @media (min-width: @tablet-width) {
    color: @basic-black;
    font-size: 14px;
    line-height: 26px;
  }
}
