.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.page-header__menu-button {
  z-index: 2;
}

.page-header__open-menu-button {
  position: absolute;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__close-menu-button {
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
