.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__menu {
  order: 1;
  width: 320px;
  height: 56px;
  z-index: 1;
  margin: 0 auto;
}

.page-header__logo-image {
  width: 102px;
  height: 84px;
}
