.page-footer {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;
  }
}

.page-footer__hashtag {
  .margin(@left: auto, @right: auto);
  .padding(@bottom: 34px, @top: 10px);
  max-width: 200px;

  @media (min-width: @tablet-width) {
    .padding(@bottom: 2px);
    .margin();
  }
}

.page-footer__social {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-right: 6px;
  }
}

.page-footer__developer {
  @media (min-width: @tablet-width) {
    .margin(@bottom: 6px);
  }
}
