.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__headline {
  padding: 0 20px;
  margin-bottom: 16px;
}

.review__review-form {
  max-width: 375px;
  padding: 0 20px;
  margin-bottom: 48px;
}
