.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__headline {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    .headline__title {
      font-size: 30px;
    }
  }
}

.review__form {
  max-width: 375px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    max-width: 900px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: none;
  }
}

.review__greetings {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 114px;
  }
}
