.selection__list {
  .list-clear();
}

.selection--grade .form__legend {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.selection--visited .form__legend {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
  }
}

.selection__item {
  display: flex;
  position: relative;
  min-height: 56px;
  padding-left: 80px;
  box-sizing: border-box;

  &:last-of-type {
    @media (max-width: @mobile-width-only) {
      margin-bottom: 0;
    }
  }

  &--radio {
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      margin-bottom: 22px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 4px;
    }
  }

  &--checkbox {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 33px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 75px;
  }
}

.selection__input {
  .visually-hidden;
}

.selection__label {
  font-size: 18px;
  font-weight: 700;
  max-width: 200px;
  padding-top: 16px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    background-color: @backgroubd-input-gray;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: @basic-lightgray;
    }
  }

  &:active {
    &::before {
      background-color: @basic-gray;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 19px;
    top: 17px;
  }

  @media (min-width: @tablet-width) {
    &::after {
      left: 18px;
    }
  }
}

.selection__item--radio .selection__label {
  &::before {
    border-radius: 50%;
  }

  &::after {
    width: 21px;
    height: 21px;
    background-color: @basic-lightblack;
    border-radius: 50%;
  }
}

.selection__item--checkbox .selection__label {
  max-width: 164px;

  &::before {
    border-radius: 4px;
  }

  &::after {
    width: 23px;
    height: 16px;
    top: 20px;
    left: 18px;
    background-image: url("../img/decorative/tick.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    padding-left: 4px;
  }
}

.selection__input:checked + .selection__label {
  &::after {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .selection--visited .selection__list {
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .selection--visited .selection__item {
    width: 50%;
  }

  .selection--grade {
    order: -1;
    width: 50%;
  }

  .selection--grade .form__legend {
    text-align: left;
    .padding(0);
  }
}

@media (min-width: @desktop-width) {
  .selection--visited .selection__list {
    padding-left: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 3px;
    width: 99.6%;
  }

  .selection--visited .selection__item {
    width: auto;
  }
}
