.text-input__list {
  .list-clear();
}

.text-input__label {
  text-transform: uppercase;
  vertical-align: middle;

  &--second-name {
    margin-right: 3px;
  }
}

.text-input__input {
  .padding();
  box-sizing: border-box;
  font: inherit;
  height: 58px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  width: 100%;
  background-color: @backgroubd-input-gray;

  &--last-name {
    padding-left: 23px;
  }

  &--email {
    padding-bottom: 17px;
  }

  &--textarea {
    resize: none;
    height: 160px;
    padding-top: 13px;
    padding-right: 23px;
    padding-left: 21px;

    @media (min-width: @tablet-width) {
      padding-top: 18px;
    }
  }
}

.text-input--full-name .text-input__input {
  flex-grow: 1;
}

// --full-name

.text-input--full-name {
  @media (min-width: @tablet-width) {
    padding-left: 58px;
    width: 50%;
  }
}

.text-input--full-name .form__legend {
  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}

.text-input--full-name .text-input__item {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.text-input--full-name .text-input__label {
  padding-top: 3px;
  padding-right: 13px;
}

// --contact

.text-input--contact {
  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: auto;
    width: 648px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: left;
  }
}

.text-input--contact .form__legend {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
  }
}

.text-input--contact .text-input__list {
  margin-top: 0;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.text-input--contact .text-input__item {
  &:not(:last-of-type) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 50%;
  }
}

.text-input--contact .text-input__label {
  display: block;
  margin-bottom: 8px;
  padding-left: 22px;
  text-align: left;

  @media (min-width: @desktop-width) {
    width: max-content;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.text-input--contact .text-input__input-box {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-right: 58px;
  background-color: @basic-lightgray3;

  &::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--phone {
    &::after {
      width: 18px;
      height: 18px;
      background-image: url("../img/phone.svg");
    }
  }

  &--email {
    &::after {
      transform: translateY(-60%);
      width: 16px;
      height: 12px;
      background-image: url("../img/mail.svg");
    }
  }
}

.text-input--contact .text-input__input {
  flex-grow: 1;

  @media (min-width: @desktop-width) {
    width: auto;
    flex-grow: 1;
  }
}

// --textarea

.text-input--textarea {
  display: flex;
  margin-bottom: 51px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }
}

.text-input--textarea .form__legend {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }
}
