.text-input {
  &--full-name .text-input__item {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &--contact .text-input__item:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.text-input--contact .text-input__label {
  display: block;
  margin-bottom: 8px;
  padding-left: 22px;
}

.text-input__label {
  text-transform: uppercase;
}

.text-input__list {
  .list-clear();
}

.text-input__input {
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: @backgroubd-input-gray;

  &--full-name {
    width: 100%;
    flex-grow: 1;
  }

  &--textarea {
    resize: none;
    width: 100%;
  }
}
