.video {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vw * 0.63;
    background-image: url("../img/gallery/video-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 251px;
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: url("../img/gallery/video-mobile@2x.jpg");
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    position: relative;
    max-width: 800px;
    height: 500px;

    &::before {
      height: 100%;
      max-height: none;
      background-image: url("../img/gallery/video-tablet.jpg");
    }
  }

  @media (min-resolution: 2dppx) and (min-width: @tablet-width) {
    &::before {
      background-image: url("../img/gallery/video-tablet@2x.jpg");
    }
  }
}

.video__background-image {
  height: 100%;
  width: 100%;

  @media (min-width: @tablet-width) {
    object-fit: cover;
  }
}

.video__control-wrapper {
  .container;
}

.video__control {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 111px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(@basic-black, 0.6);
  align-items: center;
  justify-content: space-between;

  transform: translateY(-45px);

  @media (min-width: @tablet-width) {
    position: absolute;
    height: 93px;
    bottom: 0;
    left: 0;
    right: 0;

    transform: translateY(0);
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 66px;
    background-color: @backgroubd-input-gray;
    bottom: 0;
    left: 0;
    z-index: -1;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.video__progress-bar {
  height: 3px;
  background-color: transparent;
  appearance: none;
  align-self: center;
  padding: 0 22px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
    flex-grow: 1;
    margin: 0 19px;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
  }

  &::-moz-range-track {
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
  }

  &::-ms-track {
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    margin-top: -3px;
    width: 9px;
    height: 9px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }

  &::-moz-range-thumb {
    margin-top: -3px;
    width: 9px;
    height: 9px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }

  &::-ms-thumb {
    margin-top: -3px;
    width: 9px;
    height: 9px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
  }
}

.video__control-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: min-content;
  padding: 0;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }

  &--reset {
    margin-left: 25px;
    margin-right: 102px;

    @media (min-width: @tablet-width) {
      order: -1;
      .margin(@left: 35px);
    }
  }

  &--fullscreen {
    margin-right: 23px;

    @media (min-width: @tablet-width) {
      margin-right: 41px;
      margin-left: 31px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 43px;
    }
  }
}

.video__control-button:hover .video__control-button-ico-svg,
.video__control-button:focus .video__control-button-ico-svg {
  fill: @basic-lightblack;

  @media (min-width: @tablet-width) {
    fill: rgba(@basic-white, 0.6);
  }
}

.video__control-button:active .video__control-button-ico-svg {
  opacity: 0.3;
}

.video__control-button-ico-svg {
  @media (min-width: @tablet-width) {
    fill: @basic-white;
  }
}
