@font-face {
  font-family: "ptsans";
  font-style: normal;
  font-weight: 400;
  src: local("ptsans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "ptsans";
  font-style: normal;
  font-weight: 700;
  src: local("ptsans"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.page {
  background-color: #F2F2F2;
}
.page-body {
  font-family: "ptsans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .page-body {
    box-shadow: -5px 0 6px -1px rgba(0, 0, 0, 0.2), 5px 0 6px -1px rgba(0, 0, 0, 0.2);
  }
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: flex;
  border: none;
  color: #ffffff;
  font-family: inherit;
  width: 280px;
  min-height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.button:hover,
.button:focus {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.button--disabled {
  background-color: #e5e5e5;
  cursor: default;
  pointer-events: none;
}
.button--disabled:hover,
.button--disabled:focus,
.button--disabled:active {
  color: #ffffff;
  background-color: #e5e5e5;
}
.button:disabled {
  background-color: #e5e5e5;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.mobile-wrap {
  display: none;
}
@media (max-width: 767px) {
  .mobile-wrap {
    display: inline;
  }
}
.tablet-wrap {
  display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tablet-wrap {
    display: inline;
  }
}
.desktop-wrap {
  display: none;
}
@media (min-width: 1200px) {
  .desktop-wrap {
    display: inline;
  }
}
.tablet-or-desktop-wrap {
  display: none;
}
@media (min-width: 768px) {
  .tablet-or-desktop-wrap {
    display: inline;
  }
}
.intro__headline {
  padding: 0 25px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .intro__headline {
    margin-bottom: 53px;
  }
  .intro__headline .headline__title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .intro__headline {
    margin-bottom: 43px;
  }
}
.intro__fact {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 33px;
  padding-left: 0;
}
@media (min-width: 768px) {
  .intro__fact {
    padding-bottom: 56px;
  }
}
.main__map {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .main__map {
    margin-bottom: 3px;
  }
}
.main__search {
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .main__search {
    padding-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .main__search {
    padding-bottom: 66px;
  }
}
.main__greetings {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .main__greetings {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .main__greetings {
    margin-bottom: 55px;
  }
}
.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-header__logo {
  order: 2;
  height: 56px;
  z-index: 1;
}
@media (max-width: 767px) {
  .page-header__logo {
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .page-header__logo-image {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .page-header__logo-image {
    width: 187px;
    height: 96px;
    content: url("../img/logotype-desktop.svg");
  }
}
.main-nav {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__site-list {
    display: none;
  }
  .main-nav--opened .main-nav__site-list {
    display: flex;
  }
  .main-nav--closed .main-nav__menu-close-button {
    display: none;
  }
  .main-nav--nojs .main-nav__site-list {
    display: block;
  }
  .main-nav--nojs .main-nav__menu-button {
    display: none;
  }
}
.main-nav__site-list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-nav__site-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.main-nav__item {
  width: 100%;
  height: 56px;
}
@media (max-width: 767px) {
  .main-nav__item:last-of-type {
    height: 55px;
  }
}
.main-nav__item:last-of-type .main-nav__link {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 20%;
    margin: 0;
  }
  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(6) {
    margin-right: 20%;
  }
}
.main-nav__link {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #669ec0;
}
.main-nav__link:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.main-nav__link--current:hover,
.main-nav__link--current:focus,
.main-nav__link--current:active {
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding-top: 0;
    color: #000000;
    box-shadow: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 26px;
  }
  .main-nav__link:hover,
  .main-nav__link:focus {
    background-color: transparent;
    color: #81b3d2;
  }
  .main-nav__link:active {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__link--current {
    color: #766357;
  }
  .main-nav__link--current:hover,
  .main-nav__link--current:focus {
    color: #604E43;
  }
  .main-nav__link--current:active {
    color: rgba(118, 99, 87, 0.3);
  }
}
.main-nav__menu-button {
  z-index: 2;
  position: absolute;
  right: 20px;
  border: none;
}
.main-nav__menu-button:hover,
.main-nav__menu-button:focus {
  opacity: 0.6;
}
.main-nav__menu-button:active {
  opacity: 0.3;
}
.main-nav__menu-open-button {
  bottom: -39px;
  box-sizing: border-box;
  background-color: transparent;
  width: 23px;
  height: 22px;
  padding: 5px 0;
  border-bottom: 4px solid #81b3d2;
  border-top: 4px solid #81b3d2;
}
.main-nav__menu-open-button::after {
  content: "";
  position: absolute;
  background-color: #81b3d2;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
}
@media (min-width: 768px) {
  .main-nav__menu-open-button {
    display: none;
  }
}
.main-nav__menu-close-button {
  top: 15px;
  right: 17px;
  background-color: transparent;
  width: 21px;
  height: 21px;
}
.main-nav__menu-close-button::after,
.main-nav__menu-close-button::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #ffffff;
  width: 28px;
  height: 4px;
}
.main-nav__menu-close-button::after {
  transform: rotate(45deg);
}
.main-nav__menu-close-button::before {
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .main-nav__menu-close-button {
    display: none;
  }
}
.greetings {
  position: relative;
  padding-bottom: 57px;
  box-sizing: border-box;
  width: 100%;
  min-height: 389px;
  background-color: #294346;
  background-image: url("../img/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .greetings {
    min-height: 518px;
  }
}
.greetings::after {
  content: "";
  position: absolute;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100% 57px;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;
}
.greetings--secondary-page {
  background-image: url("../img/background-secondary-mobile.jpg");
  min-height: 158px;
  background-size: auto;
  background-position: 50% -56px;
}
@media (min-width: 768px) {
  .greetings--secondary-page {
    background-image: url("../img/background-secondary.jpg");
    min-height: 290px;
    background-position: 50% 100%;
  }
}
@media (min-width: 1200px) {
  .greetings--secondary-page {
    min-height: 301px;
  }
}
.greetings__image {
  width: 282px;
  min-height: 214px;
  margin-top: 90px;
}
@media (min-width: 768px) {
  .greetings__image {
    margin-top: 77px;
    width: 460px;
    min-height: 350px;
  }
}
.greetings__image--secondary-page {
  margin-top: 52px;
  width: 229px;
  min-height: 39px;
}
@media (min-width: 768px) {
  .greetings__image--secondary-page {
    margin-top: 95px;
    width: 460px;
    min-height: 78px;
    padding-left: 2px;
  }
}
@media (min-width: 1200px) {
  .greetings__image--secondary-page {
    margin-top: 101px;
    min-height: 80px;
    padding-right: 4px;
    content: url("../img/sedona-desktop.svg");
  }
}
.headline {
  line-height: 26px;
  text-transform: uppercase;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}
.headline--search {
  padding: 0 25px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .headline--search {
    margin-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .headline--search {
    margin-bottom: 44px;
  }
}
.headline__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-size: 18px;
  font-weight: 700;
}
.headline--search .headline__title {
  font-size: 21px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .headline--search .headline__title {
    font-size: 30px;
    margin-bottom: 33px;
  }
}
.headline__description {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
}
.headline--search .headline__description {
  line-height: 24px;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review__headline {
  position: relative;
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .review__headline {
    margin-bottom: 69px;
  }
}
@media (min-width: 1200px) {
  .review__headline {
    margin-bottom: 41px;
  }
}
.review__headline .headline__title {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .review__headline .headline__title {
    font-size: 30px;
    margin-bottom: 33px;
  }
}
.review__headline .headline__description {
  line-height: 24px;
}
@media (min-width: 768px) {
  .review__headline .headline__description {
    padding: 0 40px;
  }
}
.review__form {
  max-width: 375px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .review__form {
    max-width: 900px;
    box-sizing: border-box;
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .review__form {
    width: 100%;
    max-width: none;
    margin-bottom: 52px;
  }
}
.review__greetings {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .review__greetings {
    margin-bottom: 62px;
  }
}
@media (min-width: 1200px) {
  .review__greetings {
    margin-bottom: 112px;
  }
}
.fact__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  line-height: 21px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .fact__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.fact__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.fact__item::after {
  content: "";
  position: absolute;
  width: 87%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d6d6d6;
}
@media (min-width: 768px) {
  .fact__item {
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.333%;
  }
  .fact__item::after {
    display: none;
  }
}
.fact__item--main-fact::after {
  display: none;
}
@media (min-width: 768px) {
  .fact__item--main-fact {
    width: 100%;
  }
}
.fact__item:first-of-type {
  position: relative;
  padding-top: 37px;
}
@media (min-width: 768px) {
  .fact__item:first-of-type {
    padding-top: 0;
  }
}
.fact__item:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background-color: #81b3d2;
  background-image: url("../img/fact-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100% 37px;
}
@media (min-width: 768px) {
  .fact__item:first-of-type::before {
    display: none;
  }
}
.fact__item:last-of-type::after {
  display: none;
}
.fact__header {
  padding: 0 10px;
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 31.5% auto 1fr;
  background-color: #eeeeee;
  min-height: 168px;
  width: 100%;
}
.fact__header--main-fact {
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 190px;
}
@media (min-width: 768px) {
  .fact__header--main-fact {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  .fact__header--main-fact-fisrt {
    margin-bottom: 23px;
  }
}
@media (max-width: 767px) {
  .fact__header--main-fact-second {
    padding-top: 7px;
  }
}
@media (min-width: 768px) {
  .fact__header {
    min-height: 256px;
    grid-template-rows: 37.3% auto 1fr;
  }
  .fact__header--main-fact-fisrt {
    grid-template-rows: 36.5% auto 1fr;
  }
  .fact__header--main-fact-second {
    order: 2;
    grid-template-rows: 37% auto 1fr;
  }
}
@media (min-width: 1200px) {
  .fact__header--main-fact-fisrt {
    grid-template-rows: 38.5% auto 1fr;
  }
  .fact__header--main-fact-second {
    grid-template-rows: 40.4% auto 1fr;
  }
}
.fact__title-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.fact__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .fact__title {
    font-size: 21px;
    display: inline-block;
    width: 151px;
  }
}
.fact__number {
  margin-top: 11px;
  margin-right: 0;
  margin-bottom: 17px;
  margin-left: 0;
}
.fact__number::before {
  content: "— ";
}
.fact__number::after {
  content: " —";
}
@media (min-width: 768px) {
  .fact__number {
    margin-top: 13px;
    margin-bottom: 23px;
  }
}
.fact__item--main-fact .fact__description {
  padding: 0;
}
@media (min-width: 768px) {
  .fact__item--main-fact .fact__description {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .fact__item--main-fact .fact__description {
    padding: 0 50px;
  }
}
.fact__description {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0 25px;
}
@media (min-width: 768px) {
  .fact__description {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .fact__description {
    padding: 0 45px;
  }
}
.fact__image {
  height: 256px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .fact__image {
    height: 260px;
  }
}
@media (min-width: 768px) {
  .fact__image {
    width: 66.666%;
  }
}
@media (min-width: 1200px) {
  .fact__image-1 {
    content: url("../img/facts/true-city.jpg");
  }
  .fact__image-2 {
    content: url("../img/facts/diablo-bridge.jpg");
  }
}
.fact__additionally {
  padding-top: 35px;
  margin-bottom: 9px;
}
@media (min-width: 768px) {
  .fact__additionally {
    width: 100%;
    margin-bottom: 33px;
  }
}
@media (min-width: 1200px) {
  .fact__additionally {
    margin-bottom: 54px;
  }
}
.additionally {
  display: flex;
}
.additionally__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .additionally__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
.additionally__item {
  box-sizing: border-box;
  text-align: left;
  padding-left: 48px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 26px;
  margin-left: 0;
  position: relative;
}
@media (min-width: 768px) {
  .additionally__item {
    width: 33.333%;
    min-height: 113px;
    padding: 0;
    padding-top: 101px;
    text-align: center;
  }
}
.additionally__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: auto;
}
@media (min-width: 768px) {
  .additionally__item::before {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .additionally__item--housing {
    padding-right: 3px;
  }
}
.additionally__item--housing::before {
  background-image: url("../img/facts/icon-house.svg");
}
@media (max-width: 767px) {
  .additionally__item--housing::before {
    top: -9px;
  }
}
@media (min-width: 768px) {
  .additionally__item--housing::before {
    top: 3px;
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }
}
@media (min-width: 1200px) {
  .additionally__item--housing::before {
    top: 2px;
    transform: translateX(-52%);
  }
}
@media (min-width: 768px) {
  .additionally__item--souvenirs {
    order: 3;
  }
}
@media (min-width: 1200px) {
  .additionally__item--souvenirs {
    padding-top: 100px;
    padding-right: 1px;
  }
}
.additionally__item--souvenirs::before {
  background-image: url("../img/facts/icon-gift.svg");
}
@media (max-width: 767px) {
  .additionally__item--souvenirs::before {
    left: 4px;
    top: -10px;
  }
}
@media (min-width: 768px) {
  .additionally__item--souvenirs::before {
    width: 64px;
    height: 75px;
    background-size: 64px 75px;
  }
}
@media (min-width: 1200px) {
  .additionally__item--souvenirs::before {
    top: -1px;
    transform: translateX(-52%);
  }
}
@media (min-width: 1200px) {
  .additionally__item--food {
    padding-top: 99px;
    padding-left: 1px;
  }
}
.additionally__item--food::before {
  background-image: url("../img/facts/icon-burger.svg");
}
@media (max-width: 767px) {
  .additionally__item--food::before {
    left: -2px;
    top: -6px;
  }
}
@media (min-width: 768px) {
  .additionally__item--food::before {
    top: 6px;
    width: 76px;
    height: 68px;
    background-size: 76px 68px;
  }
}
@media (min-width: 1200px) {
  .additionally__item--food::before {
    transform: translateX(-51%);
  }
}
.additionally__head {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 16px;
  margin-left: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .additionally__head {
    font-size: 21px;
    margin-bottom: 23px;
  }
}
.additionally__description {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media (min-width: 768px) {
  .additionally__description {
    padding: 0 32px;
  }
}
@media (min-width: 1200px) {
  .additionally__description {
    padding: 0 50px;
  }
}
.hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.developer {
  position: relative;
  box-sizing: border-box;
  text-transform: uppercase;
  height: 34px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .developer {
    margin: 0;
  }
}
.developer__text {
  color: #000000;
  line-height: 34px;
  padding-right: 40px;
  margin: 0;
}
.developer__logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;
}
.developer:hover .developer__logo-path,
.developer:focus .developer__logo-path {
  fill: #81b3d2;
}
.developer:active .developer__logo-path {
  fill: rgba(0, 0, 0, 0.3);
}
.map {
  height: 350px;
}
.map__static {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.social__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 151px;
  max-width: 151px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .social__list {
    max-width: 203px;
  }
}
.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
  margin-bottom: 6px;
}
.social__item:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 1200px) {
  .social__item:nth-child(3n) {
    margin-right: 6px;
  }
  .social__item:nth-child(4n) {
    margin-right: 0;
  }
}
.social__item:hover,
.social__itemfocus {
  background-color: #669ec0;
}
.social__item:active {
  background-color: #5496BD;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.social__item:active .social__ico {
  opacity: 0.3;
}
.social__ico {
  display: block;
  height: 48px;
}
.search__button {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .search__button {
    width: 458px;
  }
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;
  }
}
.page-footer__hashtag {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 34px;
  padding-left: 0;
}
@media (min-width: 768px) {
  .page-footer__hashtag {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2px;
    padding-left: 0;
  }
}
.page-footer__social {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .page-footer__social {
    margin: 0;
    padding-right: 6px;
  }
}
@media (min-width: 768px) {
  .page-footer__developer {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 6px;
    margin-left: 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
@media (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.form__item {
  position: relative;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  line-height: 26px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .form__item {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .form__item {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (max-width: 767px) {
  .form__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #d6d6d6;
  }
}
@media (min-width: 768px) {
  .form__item {
    padding-top: 0;
  }
  .form__item--separator::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #dbdbdb;
    top: 0;
    left: 0;
  }
}
.form__item.selection--visited {
  padding-top: 17px;
}
@media (min-width: 768px) {
  .form__item.selection--visited {
    padding-top: 20px;
    margin-bottom: 9px;
  }
}
@media (min-width: 1200px) {
  .form__item.selection--visited {
    margin-bottom: 16px;
    padding-top: 11px;
  }
}
.form__item.selection--grade {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .form__item.selection--grade {
    padding-right: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .form__item.text-input--contact {
    margin-bottom: 21px;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .form__item.text-input--contact {
    margin-bottom: 6px;
    padding-top: 18px;
  }
}
@media (min-width: 768px) {
  .form__item.text-input--full-name {
    margin-bottom: 44px;
    position: relative;
  }
}
.form__item.text-input--textarea {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form__item.text-input--textarea {
    margin-bottom: 49px;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .form__item.text-input--textarea {
    padding-top: 12px;
  }
}
.form__legend {
  text-align: center;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 19px;
  padding: 0 10px;
  width: 100%;
  float: left;
}
@media (min-width: 768px) {
  .form__legend {
    font-size: 21px;
    margin-bottom: 56px;
  }
}
@media (min-width: 768px) {
  .form__legend--full-name {
    align-self: flex-start;
    text-align: left;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .form__legend--grade {
    align-self: flex-start;
  }
}
@media (min-width: 768px) {
  .form__legend--contact {
    display: flex;
    align-items: center;
  }
  .form__legend--contact::before,
  .form__legend--contact::after {
    display: block;
    box-sizing: border-box;
    content: "";
    height: 1px;
    width: auto;
    flex-grow: 1;
    bottom: 50%;
    background-color: #dbdbdb;
    margin-bottom: 7px;
  }
  .form__legend--contact::before {
    margin-right: 63px;
    left: 0;
  }
  .form__legend--contact::after {
    margin-left: 63px;
    right: 0;
  }
}
@media (min-width: 768px) {
  .form__legend--visited {
    display: flex;
    align-items: center;
  }
  .form__legend--visited::before,
  .form__legend--visited::after {
    display: block;
    box-sizing: border-box;
    content: "";
    height: 1px;
    width: auto;
    flex-grow: 1;
    bottom: 50%;
    background-color: #dbdbdb;
    margin-bottom: 0;
  }
  .form__legend--visited::before {
    margin-right: 64px;
    left: 0;
  }
  .form__legend--visited::after {
    margin-left: 64px;
    right: 0;
  }
}
@media (min-width: 768px) {
  .form__legend--textarea {
    display: flex;
    align-items: center;
  }
  .form__legend--textarea::before,
  .form__legend--textarea::after {
    display: block;
    box-sizing: border-box;
    content: "";
    height: 1px;
    width: auto;
    flex-grow: 1;
    bottom: 50%;
    background-color: #dbdbdb;
    margin-bottom: 7px;
  }
  .form__legend--textarea::before {
    margin-right: 76px;
    left: 0;
  }
  .form__legend--textarea::after {
    margin-left: 76px;
    right: 0;
  }
}
.form__item--footer {
  flex-direction: row;
  justify-content: space-between;
}
.form__item--footer::before {
  display: none;
}
.form__button {
  margin: 0 auto;
  padding-top: 5px;
  transform: translateX(-1px);
}
@media (min-width: 768px) {
  .form__button {
    margin: 0;
    min-width: 324px;
    transform: translateX(0);
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .form__button {
    min-width: 480px;
    padding-right: 5px;
  }
}
.form__description {
  display: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  text-transform: uppercase;
  text-align: right;
  line-height: 26px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: 12px;
  margin-left: 0;
}
@media (min-width: 768px) {
  .form__description {
    display: block;
  }
}
.text-input__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.text-input__label {
  text-transform: uppercase;
  vertical-align: middle;
}
.text-input__label--second-name {
  margin-right: 3px;
}
.text-input__input {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-sizing: border-box;
  font: inherit;
  height: 58px;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  border: 4px solid #F2F2F2;
  background-color: #F2F2F2;
}
.text-input__input--last-name {
  padding-left: 20px;
}
.text-input__input--email {
  padding-bottom: 19px;
}
@media (min-width: 1200px) {
  .text-input__input--email {
    padding-left: 19px;
    padding-top: 19px;
  }
}
.text-input__input--phone {
  padding-bottom: 14px;
}
@media (min-width: 1200px) {
  .text-input__input--phone {
    padding-bottom: 16px;
  }
}
.text-input__input--textarea {
  resize: none;
  height: 160px;
  padding-top: 9px;
  padding-right: 23px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .text-input__input--textarea {
    padding-top: 14px;
  }
}
@media (min-width: 1200px) {
  .text-input__input--textarea {
    padding-left: 17px;
  }
}
.text-input__input:hover {
  border: 4px solid #e5e5e5;
  background-color: #e5e5e5;
}
.text-input__input:focus,
.text-input__input:active {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  outline: 0;
}
@media (min-width: 768px) {
  .text-input--full-name {
    padding-left: 58px;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .text-input--full-name {
    padding-left: 80px;
  }
}
.text-input--full-name .text-input__input {
  flex-grow: 1;
}
@media (min-width: 768px) {
  .text-input--full-name .form__legend {
    margin-bottom: 54px;
  }
}
.text-input--full-name .text-input__item {
  display: flex;
  align-items: center;
}
.text-input--full-name .text-input__item:not(:last-of-type) {
  margin-bottom: 20px;
}
.text-input--full-name .text-input__label {
  padding-top: 3px;
  padding-right: 13px;
}
@media (min-width: 768px) {
  .text-input--contact {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .text-input--contact {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: left;
  }
}
.text-input--contact .form__legend {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .text-input--contact .form__legend {
    margin-bottom: 19px;
  }
}
@media (min-width: 1200px) {
  .text-input--contact .form__legend {
    margin-bottom: 72px;
  }
}
.text-input--contact .text-input__list {
  margin-top: 0;
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__list {
    display: flex;
  }
}
.text-input--contact .text-input__item:not(:last-of-type) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .text-input--contact .text-input__item:not(:last-of-type) {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .text-input--contact .text-input__item {
    width: 648px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__item {
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 25px;
  }
}
.text-input--contact .text-input__label {
  display: block;
  margin-bottom: 8px;
  padding-left: 22px;
  text-align: left;
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__label {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__label {
    margin-right: 16px;
  }
}
.text-input--contact .text-input__input-box {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-right: 58px;
  background-color: #e6e6e6;
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__input-box {
    width: auto;
    flex-grow: 1;
  }
}
.text-input--contact .text-input__input-box::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__input-box--phone {
    margin-right: 79px;
  }
}
.text-input--contact .text-input__input-box--phone::after {
  width: 18px;
  height: 18px;
  background-image: url("../img/phone.svg");
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__input-box--email {
    height: 58px;
  }
}
.text-input--contact .text-input__input-box--email::after {
  transform: translateY(-60%);
  width: 16px;
  height: 12px;
  background-image: url("../img/mail.svg");
}
.text-input--contact .text-input__input {
  flex-grow: 1;
}
@media (min-width: 1200px) {
  .text-input--contact .text-input__input {
    width: auto;
    flex-grow: 1;
  }
}
.text-input--textarea {
  display: flex;
}
@media (min-width: 768px) {
  .text-input--textarea {
    margin-bottom: 58px;
  }
}
.text-input--textarea .form__legend {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .text-input--textarea .form__legend {
    margin-bottom: 54px;
  }
}
.selection__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .selection--grade .form__legend {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .selection--grade .form__legend {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  .selection--visited .form__legend {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .selection--visited .form__legend {
    margin-bottom: 43px;
  }
}
.selection__item {
  display: flex;
  position: relative;
  min-height: 56px;
  padding-left: 78px;
  align-items: center;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .selection__item:last-of-type {
    margin-bottom: 0;
  }
}
.selection__item--radio {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .selection__item--radio {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .selection__item--radio {
    margin-left: 4px;
  }
}
.selection__item--checkbox {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .selection__item--checkbox {
    margin-bottom: 33px;
  }
}
@media (min-width: 768px) {
  .selection__item {
    padding-left: 75px;
  }
}
.selection__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.selection__label {
  font-size: 18px;
  font-weight: 700;
}
.selection__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 56px;
  height: 56px;
  background-color: #F2F2F2;
}
.selection__label:hover::before,
.selection__label:focus::before {
  background-color: #e5e5e5;
}
.selection__label:active::before {
  background-color: #d5d5d5;
}
.selection__label::after {
  content: "";
  position: absolute;
  display: none;
  left: 17px;
  top: 17px;
}
.selection__item--radio .selection__label {
  padding-top: 2px;
}
.selection__item--radio .selection__label::before {
  border-radius: 50%;
}
.selection__item--radio .selection__label::after {
  width: 21px;
  height: 21px;
  left: 17px;
  background-color: #333333;
  border-radius: 50%;
}
.selection__item--checkbox .selection__label {
  padding-top: 2px;
}
.selection__item--checkbox .selection__label::before {
  border-radius: 4px;
}
.selection__item--checkbox .selection__label::after {
  width: 23px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .selection__item--checkbox .selection__label {
    padding-left: 4px;
  }
}
.selection__input:checked + .selection__label::after {
  display: block;
}
@media (min-width: 768px) {
  .selection--visited .selection__list {
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  .selection--visited .selection__item {
    width: 50%;
  }
  .selection--grade {
    order: -1;
    width: 50%;
  }
  .selection--grade .form__legend {
    text-align: left;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .selection--visited .selection__list {
    padding-left: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 3px;
    width: 99.6%;
  }
  .selection--visited .selection__item {
    width: auto;
  }
}
.gallery__greetings {
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .gallery__greetings {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .gallery__greetings {
    margin-bottom: 101px;
  }
}
.gallery__photo {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .gallery__photo {
    margin-bottom: 59px;
  }
}
@media (min-width: 1200px) {
  .gallery__photo {
    margin-bottom: 62px;
  }
}
.gallery__headline {
  padding-bottom: 33px;
  margin-bottom: 22px;
  max-width: 420px;
  position: relative;
}
.gallery__headline--video {
  padding-bottom: 0;
  margin-bottom: 33px;
}
@media (max-width: 767px) {
  .gallery__headline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #e5e5e5;
  }
  .gallery__headline--video {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery__headline--video::after {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .gallery__headline--video {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) and (min-width: 1200px) {
  .gallery__headline--video {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
  .gallery__headline {
    max-width: 440px;
    padding-bottom: 0;
    margin-bottom: 82px;
  }
  .gallery__headline--video {
    max-width: 480px;
    margin-bottom: 79px;
  }
}
@media (min-width: 1200px) {
  .gallery__headline {
    margin-bottom: 80px;
  }
  .gallery__headline--video {
    margin-bottom: 78px;
  }
}
.gallery__headline .headline__title {
  margin-bottom: 28px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .gallery__headline .headline__title {
    margin-bottom: 34px;
    font-size: 30px;
  }
}
.gallery__headline--video .headline__title {
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .gallery__headline--video .headline__title {
    margin-bottom: 34px;
  }
}
.gallery__headline .headline__description {
  line-height: 24px;
}
.gallery__headline--video .headline__description {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .gallery__video-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .gallery__video-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .gallery__video-container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.gallery__media {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
}
@media (min-width: 768px) {
  .gallery__media {
    width: 100%;
    max-width: none;
    margin-bottom: 43px;
  }
}
@media (min-width: 1200px) {
  .gallery__media {
    margin-bottom: 88px;
  }
}
.photo__list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .photo__list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 840px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .photo__list {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (min-width: 768px) {
  .photo__list {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (min-width: 1200px) {
  .photo__list {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 1200px) {
  .photo__list {
    max-width: 100%;
  }
}
.photo__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
@media (max-width: 767px) {
  .photo__item {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 17px;
  }
  .photo__item:not(:last-of-type) {
    margin-bottom: 22px;
  }
  .photo__item::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .photo__item {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) and (min-width: 1200px) {
  .photo__item {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
  .photo__item {
    width: 50%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: #F2F2F2;
  }
  .photo__item:first-of-type {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .photo__item {
    width: 33.333%;
    position: relative;
  }
}
.photo__description {
  order: 2;
}
@media (min-width: 768px) {
  .photo__description {
    display: grid;
    min-height: 80px;
    padding: 0 20px;
    padding-top: 16px;
    padding-bottom: 15px;
    box-sizing: border-box;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto auto;
    grid-template-areas: "name likes" "author likes";
  }
}
@media (min-width: 1200px) {
  .photo__description {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}
@media (min-width: 768px) {
  .photo__item:not(:first-of-type) .photo__description {
    padding-right: 30px;
  }
}
@media (min-width: 768px) {
  .photo__item:nth-of-type(3) .photo__description {
    padding-right: 36px;
  }
}
.photo__image-box {
  width: 100%;
  height: 280px;
  max-width: 420px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 11px;
  padding-left: 0;
}
@media (min-width: 768px) {
  .photo__image-box {
    max-width: none;
    height: 267px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .photo__item:first-of-type .photo__image-box {
    height: 400px;
  }
}
.photo__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.photo__name {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1px;
  margin-left: 0;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .photo__name {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    grid-area: name;
  }
}
.photo__author {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 12px;
  margin-left: 0;
}
.photo__author::before {
  content: "Автор фото: ";
}
@media (min-width: 768px) {
  .photo__author {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    order: 3;
    grid-area: author;
  }
}
.photo__like-box {
  position: relative;
}
@media (min-width: 768px) {
  .photo__like-box {
    grid-area: likes;
    align-self: center;
    margin-left: 20px;
  }
}
.photo__like-ico {
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 1200px) {
  .photo__like-ico-path {
    fill: #ffffff;
    opacity: 1;
  }
}
.photo__like-count {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 37px;
  font-weight: 700;
  display: block;
}
@media (min-width: 768px) {
  .photo__like-count {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 32px;
  }
}
@media (min-width: 768px) {
  .video {
    margin: 0 auto;
    position: relative;
    max-width: 800px;
    height: 500px;
  }
}
.video__background-image {
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .video__background-image {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.video__control {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 111px;
  width: 87.5%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: space-between;
  transform: translateY(-51px);
}
@media (min-width: 768px) {
  .video__control {
    position: absolute;
    max-width: 800px;
    height: 93px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
  }
}
.video__control::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 66px;
  background-color: #F2F2F2;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .video__control::after {
    display: none;
  }
}
.video__progress-bar {
  height: 3px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  align-self: center;
  padding: 0 22px;
  width: 100%;
}
@media (min-width: 768px) {
  .video__progress-bar {
    width: auto;
    flex-grow: 1;
    margin: 0 19px;
  }
}
.video__progress-bar:focus {
  outline: none;
}
.video__progress-bar::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.video__progress-bar::-webkit-slider-thumb {
  margin-top: -3px;
  width: 9px;
  height: 9px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
}
.video__control-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0;
}
@media (min-width: 768px) {
  .video__control-button {
    background-color: transparent;
  }
}
.video__control-button--reset {
  margin-left: 25px;
  margin-right: 102px;
}
@media (min-width: 768px) {
  .video__control-button--reset {
    order: -1;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 35px;
  }
}
.video__control-button--fullscreen {
  margin-right: 23px;
}
@media (min-width: 768px) {
  .video__control-button--fullscreen {
    margin-right: 41px;
    margin-left: 31px;
  }
}
@media (min-width: 1200px) {
  .video__control-button--fullscreen {
    margin-right: 43px;
  }
}
.video__control-button:hover .video__control-button-ico,
.video__control-button:focus .video__control-button-ico {
  fill: #333333;
}
@media (min-width: 768px) {
  .video__control-button:hover .video__control-button-ico,
  .video__control-button:focus .video__control-button-ico {
    fill: rgba(255, 255, 255, 0.6);
  }
}
.video__control-button:active .video__control-button-ico {
  fill: rgba(51, 51, 51, 0.3);
}
@media (min-width: 768px) {
  .video__control-button:active .video__control-button-ico {
    fill: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .video__control-button-ico {
    fill: #ffffff;
  }
}
@media (min-width: 1200px) {
  .hide--desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
