@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@tablet-width-max: 1199px;

.page {
  background-color: @backgroubd-input-gray;
}

.page-body {
  font-family: "ptsans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-color: @basic-white;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    box-shadow: -5px 0 6px -1px rgba(0, 0, 0, 0.2), 5px 0 6px -1px rgba(0, 0, 0, 0.2);
  }
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  border: none;
  color: white;
  width: 280px;
  min-height: 58px;
  background-color: @basic-lightblue;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 20px;
  margin: 0 auto;

  &--video {
    .padding();
  }

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;

    &--photo {
      .padding();
    }
  }
}

.mobile-wrap {
  display: none;

  @media (max-width: @mobile-width-only) {
    display: inline;
  }
}

.tablet-wrap {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-max) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.desktop-wrap {
  @media (min-width: @desktop-width) {
    display: inline;
  }
}
