.margin(@top: 0, @right: 0, @bottom: 0, @left: 0) {
  margin-top: @top;
  margin-right: @right;
  margin-bottom: @bottom;
  margin-left: @left;
}

.padding(@top: 0, @right: 0, @bottom: 0, @left: 0) {
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.list-clear() {
  .margin();
  .padding();
  list-style: none;
}

.legend-edge-line(@margin-bottom: 0, @margin-edge: 63px) {
  display: flex;
  align-items: center;

  &::before,
  &::after {
    display: block;
    box-sizing: border-box;
    content: "";
    height: 1px;
    width: auto;
    flex-grow: 1;
    bottom: 50%;
    background-color: @basic-lightgray4;
    margin-bottom: @margin-bottom;
  }

  &::before {
    margin-right: @margin-edge;
    left: 0;
  }

  &::after {
    margin-left: @margin-edge;
    right: 0;
  }
}
