@background-dark-blue: #294346;
@backgroubd-input-gray: #F2F2F2;
@basic-white: #ffffff;
@basic-black: #000000;
@basic-lightblack: #333333;
@basic-lightblue: #81b3d2;
@basic-blue: #669ec0;
@basic-darkblue: #5496BD;
@basic-lightgrey: #eeeeee;
@basic-brown: #766357;
@basic-darkbrown: #604E43;
@basic-lightgray: #e5e5e5;
@basic-lightgray2: #d6d6d6;
@basic-lightgray3: #e6e6e6;
@basic-lightgray4: #dbdbdb;
@basic-gray: #d5d5d5;
@shadow-black-menu-button: rgba(1, 1, 1, 0.2);
@shadow-white-menu-button: rgba(255, 255, 255, 0.2);
